@model SubjectIdAndGroups

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Группы</title>
</head>
<body>
<div class="container">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="row" style="margin-bottom: 50px">
            <div class="col"></div>
            <div class="col-xs-2 col-sm-2">
                <form asp-controller="Groups" asp-action="AddGroup">
                    <input type="hidden" value="@Model.SubjectId" name="id"/>
                    <button type="submit" class="btn btn-primary">Добавить группу</button>
                </form>
            </div>
        </div>
    }

    <section class="row">
        @foreach (var group in Model.Groups)
        {
            <div class="col-xs-3 col-sm-3">
                <div class="card post" style="background-color: #253D66">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <form asp-controller="Groups" asp-action="DeleteGroupFromSubject" method="post">
                            <input type="hidden" name="id" value="@group.Id"/>
                            <input type="hidden" name="subjectId" value="@Model.SubjectId"/>
                            <button type="submit" style="background: transparent; border: none">
                                <i class="bi bi-trash text-white"></i>
                            </button>
                        </form>
                    }
                    <div class="card-body">
                        <h5 class="card-title text-white">@group.Name</h5>
                        <form asp-controller="Groups" asp-action="GroupFiles" method="get">
                            <input type="hidden" name="id" value="@group.Id"/>
                            <button type="submit" class="btn btn-primary">Открыть</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
</body>
</html>